body {
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
}

h1 {
    font-size: 34px;

}

.orangeColor {
    color: orange;
}

.halfWidth {
    width: 50%;
    padding-left: 5%;
}

.halfWidth img {
    width: 60%;
}

.linkBtn {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
}